################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ImpSkelS20/.vs/impressionist/v17/Browse.VC.db-shm
/ImpSkelS20/.vs/impressionist/v17/Browse.VC.db-shm
/ImpSkelS20/.vs/impressionist/v17/Browse.VC.db-wal
